body {
    margin: 10px; /*TO CHANGE*/
    background-color: #faf8ef;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px; /*TO CHANGE*/
    font-weight: bold;
    color: #776e65;
    overflow: hidden;
}


#container {
    width: 462.55px; /*TO CHANGE*/
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 150px 0px auto; /*TO CHANGE*/
    
    justify-content: center;
    margin: auto;
}

#heading {
    text-align: right;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    height: 100%;
}

#title {
    font-size: 80px; /*TO CHANGE*/
    margin: auto 0;
    text-align: left;
}

#scores {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
}

#currentScoreBox, #bestScoreBox {
    background-color: #bbada0;
    color: #faf8ef;
    height: 45px; /*TO CHANGE*/
    padding: 5px 15px; /*TO CHANGE*/
    border-radius: 4px; /*TO CHANGE*/
    margin: 0 2px; /*TO CHANGE*/
    text-align: center;
    justify-content: center;
}

.name {
    font-size: 12px; /*TO CHANGE*/
    color: #eee4da;
}

.score {
    font-size: 24px; /*TO CHANGE*/
}

p {
    margin: 0;
}

.thisRoundPoints {
    margin-top: -30px; /*TO CHANGE*/
    font-size: 24px; /*TO CHANGE*/
    color: #776e65;
    animation: moveUp 1.2s;
    display: relative;
    z-index: 2;
}

#newGame {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    grid-column: span 2;
}

#newGameButton, #undoButton {
    background-color: #8f7a66;
    border: none;
    color: #faf8ef;
    height: 40px; /*TO CHANGE*/
    width: 130px; /*TO CHANGE*/
    font-weight: bold;
    font-size: 18px; /*TO CHANGE*/
    border-radius: 4px; /*TO CHANGE*/
}

#newGameButton:hover, #undoButton:hover {
    cursor: pointer;
}

#undoButton {
    margin-right: 20px; /*TO CHANGE*/
    width: 100px; /*TO CHANGE*/
}

#board {
    width: 431.2px; /*TO CHANGE*/
    height: 431.2px; /*TO CHANGE*/
    padding: 15.680px; /*TO CHANGE*/
    margin: 0 auto;
    margin-top: 40px; /*TO CHANGE*/
    border-radius: 2%;
    background-color: #bbada0;
    display: grid;
    grid-template-columns: 96.037px 96.037px 96.037px 96.037px; /*TO CHANGE*/
    grid-template-rows: 96.037px 96.037px 96.037px 96.037px; /*TO CHANGE*/
    grid-gap: 15.68px; /*TO CHANGE*/
}

#gameOver {
    margin-top: 40px; /*TO CHANGE*/
    position: relative;
    width: 463.56px; /*TO CHANGE*/
    height: 463.56px; /*TO CHANGE*/
    padding-top: 33%;
    font-size: 60px; /*TO CHANGE*/
    background-color: #ffffff7a;
    z-index: 2;
    animation: fadeIn 2s;
}

#gameOver p {
    display: block;
    width: 100%;
}



.square {
    width: 100%;
    height: 100%;
    background-color: #cdc1b4;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px; /*TO CHANGE*/
}

.block {
    width: 100%;
    height: 100%;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.n2 {
    background-color: #eee4da;
}

.n4 {
    background-color: #eee1c9;
}

.n8 {
    background-color: #f3b27a;
    color: #f9f6f2;
}

.n16 {
    background-color: #f69664;
    color: #f9f6f2;
}

.n32 {
    background-color: #f77c5f;
    color: #f9f6f2;
}

.n64 {
    background-color: #f75f3b;
    color: #f9f6f2;
}

.n128 {
    background-color: #edd073;
    color: #f9f6f2;
}

.n256 {
    background-color: #edcc62;
    color: #f9f6f2;
}

.n512 {
    background-color: #edc950;
    color: #f9f6f2;
}

.n1024 {
    background-color: #ddad37;
    color: #f9f6f2;
    font-size: 40px; /*TO CHANGE*/
}

.n2048 {
    background-color: #edc42e;
    color: #f9f6f2;
    font-size: 40px; /*TO CHANGE*/
}

.n4096 {
    background-color: #fc726c;
    color: #f9f6f2;
    font-size: 40px; /*TO CHANGE*/
}

.n8192 {
    background-color: #fc5c59;
    color: #f9f6f2;
    font-size: 40px; /*TO CHANGE*/
}

.n16384 {
  background-color: #f05139;
  color: #f9f6f2;
  font-size: 30px; /*TO CHANGE*/
}

.justCreated {
    animation: createAnimation 300ms;
}

.justAdded {
    animation: addAnimation 300ms;
}

@keyframes moveUp {
    0% {
        opacity: 1;
        margin-top: -30px; /*TO CHANGE*/
    }
    100% {
        opacity: 0;
        margin-top: -100px; /*TO CHANGE*/
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }    
    100% {
        opacity: 1;
    }
}

@keyframes createAnimation {
    0% {
        height: 0%;
        width: 0%;
        font-size: 0;
    }
    100% {
        height: 100%;
        width: 100%;
        font-size: 55px; /*TO CHANGE*/
    }
}

@keyframes addAnimation {
    0% {
        height: 100%;
        width: 100%;
        font-size: 55px; /*TO CHANGE*/
    }

    50% {
        height: 120%;
        width: 120%;
        font-size: 66px; /*TO CHANGE*/
    }

    100% {
        height: 100%;
        width: 100%;
        font-size: 55px; /*TO CHANGE*/
    }
}